include LICENSE.txt
include MANIFEST.in
include README.rest
recursive-include example_project *
recursive-include django_facebook/static *
recursive-include django_facebook/media *
recursive-include django_facebook/templates *
