[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=1.8"
Unidecode = "*"

[dev-packages]
pytest = "==3.5.0"
"e1839a8" = {path = ".", editable = true}
pillow = "*"

[requires]
python_version = "3.6"
