

<html><head></head><body>
<div id="fb-root"></div>

<script>
	
  //
  //Facebook abstraction
  //
    facebookClass = function() { this.initialize.apply(this, arguments); };
    facebookClass.prototype = {
        initialize: function () {
        },
        
        connect: function (formElement) {
            //,'publish_stream','offline_access'
            var requiredPerms = ['email','user_about_me','user_birthday','user_website'];
            FB.login(function(response) {
                formElement.submit();
            },
            {perms: requiredPerms.join(',')}
            );
        }
    };

    F = new facebookClass();
    
  //
  //Load the FB lib
  //
  window.fbAsyncInit = function() {
    FB.init({appId: '100314226679773', status: false, cookie: true,
             xfbml: false});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>


{% block content %}
        
        <div class="column forty">
            <h1>Facebook Testpage</h1>
            <div class="inner_content" style="min-height: 268px;">
                <form id="facebook_login" action="{% url facebook_connect %}?facebook_login=1" method="post">
                    <a href="javascript:void(0);" onclick="F.connect(this.parentNode);">Register, login or connect with facebook</a>
                </form>
            </div>
        </div>
{% endblock %}


</body></html>